.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }

  .mat-card {
    width: 600px;
    margin: 20px;
  }

  .joke.mat-card {
    width: 500px;
    margin: 20px;
  }

  ::ng-deep.main.mat-card {
    top: 50%;
    left: 25%;
  }

  .joke-form-field {
    width: 100%;
  }